.mainWrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    padding: 20px;
    position: relative;
    overflow-y: auto;
}
header, footer{
    padding: 10px 20px;
}
header{
    background-color: lightgrey;
}
footer{
    background-color: lightgrey;
}